body {
    min-height: 100vh;
}

#root {
    min-height: 100vh;
    position: relative;

}

h3 {
    margin-top: 15px;
}

#content-wrap {
    padding-bottom: 145px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

#footer {
    position: absolute;
    bottom: 0;
    /* left: 0;
    right: 0; */
    width: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin-top: 30px;
    height: 125px;
}

iframe {
    margin-left: auto;
    margin-right: auto;
}

#antwoorden {
    justify-content: space-around;
}

.auteurs {
    list-style-type: none;
}

.imgCentered {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.imgGesprek {
    width: 500px;
}

#logoWelzijnszorg {
    width: 500px;
}

#logoCLB {
    width: 175px;
}

#jordy {
    width: 600px;
}

.nav-item:hover {
    cursor: pointer;
}
